// Navigation Bar Styles
.navigation {
  background: $primary;
  ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    
    li {
      margin: 0;
      padding: 0;
      list-style: none;
      display: inline-block;
    }
  }
  a {
    display: block;
    padding: $padding;
    color: $white;
  }
  .brand {
    padding: $padding; 
    width: 180px;
    a {
      color: $gray;
    }
  }
}