// Navigation Bar Styles
.navigation {
  ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    
    li {
      margin: 0;
      padding: 0;
      list-style: none;
      display: inline-block;
    }
  }
  a {
    display: block;
    padding: $padding;
    font-size: $font-xs;
  }
  .brand {
    padding: $padding; 
    width: 180px;
    a {
      color: $gray;
      padding: 0;
    }
  }
  .navigation-links {
    // TODO: If larger than 900px or the medium query then 
    
    padding-top: $padding;

  }
  &.main-navigation {
    background: $primary;
    
    .navigation-links {
      float: right;
      a{
        color: $white;
      }
    }
  }
  &.sub-navigation {
    a {
      padding: $padding 0;
      color: $primary;
    }
    li {
      margin-right: $padding;
    }
  }
}
.navigation-container {
  max-width: 116rem;  
}