@import '../../../style/global.styl';

#search-results {
  .result-title{
    h2 {
      line-height: 2.6rem;
    } 
  }
  .code{
    font-size: 1.8rem;
    b {
      color: $primary;
    }  
  }
  .result-description {
    p{
      color: $subtle-black;
      font-size: 1.7rem;
      max-width: 850px;
    }  
  }
}